<h1 class="title">Antes de ver os produtos</h1>
<h2 class="post">Formulario para cadastro</h2>
<form action="/pages/tecnologias" method="post">
    <p>Nome:</p>
    <input 
        type="text" 
        name="nome" 
        placeholder="digite seu nome:"
        required
        class="inputName"
    >
    <button class="btnSubmit" type="submit">Seguir</button>
</form>